.containers{
    padding:0px 40px;
}
hr{
    background-color: black !important;
    height:2px;
    color:black !important;
    margin:0px ;
}

.nav-top{
    height:50px !important;
    border-bottom:5px black !important;  
}
.nav-icon{
    height:39px;
    width:39px;
    background-color: black ;
    border-radius:10px;
}
.nav-icon img{
    /* padding: auto ; */
    height:20px;
    width:20px;
}
.nav-icon-round{
    height:39px;
    width:39px;
    background-color: black ;
    border-radius:50%;
}
.nav-icon-round img{
    height:20px;
    width:20px;
    
}
.topofwebs{
    background-color:white;
    margin-bottom:20px;
}
