@font-face {
    font-family: 'sans_bold';
    src: url('./ProductSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans_Light';
    src: url('./ProductSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans_Medium';
    src: url('./ProductSans-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('./Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.sans_Medium{
    font-family:'sans_Medium';
}
.sans_bold{
    font-family: 'sans_bold';
}
.sans_light{
    font-family: 'sans_Light';
}
.font_oswald{
    font-family: 'Oswald-Bold';
}