.BlogTxt{
    padding: 80px 50px;
}
.BlogBox{
    max-width: 400px ;
    width: 100%;
    height: 400px;
    border:2px solid #EFDBA8;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
.BlogBox h2{
    font-weight:600;
}
.BlogBoxTxt {
    flex-grow: 1; 
}
.BlogBoxImg{
    height: 200px;    
    width: 100%;
}
.BlogBoxImg img{
    object-fit: cover;
    height: 200px;    
    width: 100%;
    border-radius: 0px 0px 200px 200px / 0px 0px 30px 30px;
}
.BlogBoxTxt p{
    font-weight:600;
}
.BlogBtn{
    padding: 15px 50px;
    font-weight:600;
    background-color: #d5b86e ;
    color:white;
    border-radius: 30px;
    margin-bottom: 10px; 
}
.BlogBtn:hover{
    background-color: #d5b86e ;

}












@media (max-width: 319.99px) {
    .BlogTxt{
        padding: 80px 15px;
    }
}

@media (min-width: 320px) { 
    .BlogTxt{
        padding: 80px 15px;
    }
    .BlogBtn{
        margin-bottom: 10px; 
    }
    .BlogBox{
        height: auto;
    }
 }

@media (min-width: 576px) { 
    .BlogTxt{
        padding: 80px 20px;
    }
    .BlogBtn{
        margin-bottom: 10px; 
    }
    .BlogBox{
        height: auto;
    }
 }


@media (min-width: 768px) { 
    .BlogTxt{
        padding: 80px 30px;
    }
    .BlogBtn{
        margin-bottom: 20px; 
    }
    .BlogBox{
        height: 400px;
    }
 }


@media (min-width: 992px) { 
    .BlogTxt{
        padding: 80px 40px;
    }
    .BlogBtn{
        margin-bottom: 20px; 
    }
    .BlogBox{
        height: 400px;
    }
}


@media (min-width: 1200px) { 
    .BlogTxt{
        padding: 80px 50px;
    }
    .BlogBtn{
        margin-bottom: 20px; 
    }
    .BlogBox{
        height: 400px;
    }
 }


@media (min-width: 1400px) { ... }