/* Gallery.css */

.photo-gallery {
  overflow: hidden;
  position: relative;
}

.category-card, .image-card {
  position: relative;
  border: 2px solid #efdbb8;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease; /* Add opacity transition */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 280px; /* Fixed height for consistency */
  width: 100%; /* Ensure it takes up the full column width */
  max-width: 280px; /* Optional: max width if you want cards to not exceed a certain size */
}

.image-card{

}

.category-card:hover, .image-card:hover {
  transform: scale(1.05);
}

.category-thumbnail, .image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.category-title {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.subcategory-view {
  text-align: center;
  opacity: 0; /* Start with hidden opacity */
  transform: translateY(20px); /* Slide up effect */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add smooth transition */
}

.subcategory-view.show {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Slide in effect */
}

.back-button {
  background: #D4B76E;
  color: #333;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.PhotoBorder{
  /* border-top:1.5px solid black; */
  border-bottom:1.5px solid black;
}
.back-button-arow{
  padding: 10px;
}
.back-button:hover {
  background: #d4b76e;
}

.subcategory-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.row {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}
