.Why_Sona{
    padding: 100px 50px;
}
.WhySonaDetails h2{
    font-weight:700;
}
.Why_SonaCards{
    padding-top:100px;
}
.WhySonaCards1 h5{
    font-weight:650;
    margin-top:50px;
}
.WhySonaCards1{
    padding:20px;
    max-width: 330px ;
    width: 100%;
    height:auto;
    border:2px solid #fff5dc;
    border-radius:20px;
    box-shadow: 0 1px 15px rgba(130, 158, 195, 0.4);
    position: relative;
}

.WhySonaCards1 img{
    position: absolute;
    max-width: 85px;
    width: 100%;
    top: -45px;
    left: 20px;
}

.SonaLngCrd{
    margin-top:100px;
}


.SonaLngCard1{
    padding:20px;
    max-width: 520px ;
    width: 100%;
    height:auto;
    border:2px solid #fff5dc;
    border-radius:20px;
    box-shadow: 0 1px 15px rgba(130, 158, 195, 0.4);
    position: relative;
}
.SonaLngCard1 h5{
    margin-top:50px;
    font-weight:700;
}
.SonaLngCard1 img{
    position: absolute;
    max-width: 85px;
    width: 100%;
    top: -45px;
    left: 20px;
}
/*  */
.WhyPartner_ditals h2{
    font-weight:700;

}
.WhyPartner{
    padding:70px 50px;
}
.WhyPartner_Img img{
    margin-left:300px;
    margin-bottom:20px;
    max-width: 180px ;
    width: 100%;
}
.WhyPartnerDown{
    padding: 100px 50px 100px 0px;
    background-color: #faf8f5;
}
.WhyPartnerDown{
    position: relative;
}
.WhyPartnerDown img{
    position: absolute;
    max-width: 200px;
    width: 100%;
    right:295px;
    top:87px;
}

.WhyPartnerTabs h5{
    font-weight:600;
    line-height:30px;
}
.AlumBenefitTabsIcon{
    margin-right:20px;
    color:white;
    background-color: #d4b76e ;
    padding: 5px;
    border-radius:50% ;
    vertical-align: middle;
}
.WhyPartnerTabs{
    background-color:white;
    box-shadow: 0 1px 15px rgba(130, 158, 195, 0.4);
    max-width: 1000px;
    width: 100%;
    height:auto;
    padding: 30px;
    border-radius: 0px 20px 20px 0px ;
}