.Collapsible{
    padding: 80px 15px;
}
.CollapsibleTxt h1{
    font-weight:700;
}

.CollapsibleCard {
    border: 2px solid #efdbb8;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 100%;
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.CollapsibleCard img{
    width: 100%;
    height: 100%;
    aspect-ratio:3/2;
    object-fit: cover;
    position: absolute;
}
.CollapsibleCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.CardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.CollaCardTitale {
    position: absolute;
    bottom: 0;
    border-radius: 220px 220px 0 0 / 30px 30px 0 0 ;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}


/*  */
.CollaSlider{
    padding: 80px 15px;
    background-color: #faf8f5;
    position: relative;
}
.LeftarwCollaSlider{
    position: absolute;
    max-width: 200px;
    width: 100%;
    height: 30px;
    top: 40px;
    left: 0px;
}
.Double_bol_lineCollaSlider{
    position: absolute;
top:-25px;
max-width: 180px;
height: 50px;
right:0px;
}
.CollaSliderTxt h1{
    font-weight:700;
}
.CollaBody .CollaSliderCard {
    width: 300px !important; 
    height: 300px; 
    overflow: hidden; 
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;   
}

.CollaSliderImag {
    width: 100%;
    height: 100%;    
}

.CollaSliderImag img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover; 
    display: block;
    position: relative;   
}

.CollaSliderTitle {
    position: absolute;
    bottom: 60px; 
    width: 100%; /* Full width for title */
    border-radius: 220px 220px 0 0 / 30px 30px 0 0 ;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgba(255, 255, 255, 0.8);
    color: #fff; /* White text for readability */
    text-align: center; /* Center align text */
    padding: 5px; /* Add padding for better appearance */
    font-size: 16px; /* Font size adjustment */
    font-weight:600;
}

.CollaBody .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}
/*  */
.ParalexImg {
    overflow: hidden;
    position: relative;
}

.ParalexBlack-img {
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0; 
    left: 0;
}

.ParalexTheam-img {
    background-color: rgb(0 0 0 / 58%);
    position: relative;
    z-index: 1;
    color: #333;
    width: 100%; 
    height: 100%;
    /* max-width: 1200px; */
    margin: 0 auto; 
}
.ParalexContent{
    position: relative;
    z-index: 3;
    padding: 90px 20px; 
    color: white;
    width: 100%;
    margin: 0 auto;
}
.custom-button {
    font-weight:600 ;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 30px; /* Ensured padding is consistent */
    background-color: #f1f1f1; 
    border-radius: 40px; /* Rounded corners */
    border: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease, transform 0.2s; 
    width: 100%; 
}

.custom-button:hover {
    background-color: #ddd; /* Hover effect for the button */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.custom-button span {
    margin-right: 10px; /* Space between text and the image */
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px; 
    height: 55px; 
}

.icon-wrapper img {
    width: 55px; 
    height: 55px; 
    object-fit: contain; 
}
.ParalexContent h1{
    font-weight:600;
}
/*  */
.Our_Strength_Alum{
    overflow:hidden;
    padding: 80px 15px;
    position: relative;
}
.Our_Strength_Alumimages .Strength_Alumleft_arwOurSt{
    max-width:200px;
}
 .Strength_AlumDoubleBolLine_Our{
    max-width:180px;
    height:50px;
    position:absolute;
    top:-25px;
    right:0px;
}
.Our_Strength_Alumdetails{
    padding:50px 0px;
}
.Our_Strength_Alumdetails h1{
    font-weight:700;
}
.Our_Strength_Alumcards{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width:260px;
    width:100%;
    height:auto;
    background-color:white;
    border:2px solid #fff5dc;
    border-radius:15px;
    position:relative;
    padding:20px;
}
.Our_Strength_Alumcards p{
    text-align:justify;
}
.OurSoluImgAlum{
    max-width:70px;
    width:100%;
    position:absolute;
    top:-40px;
    left:20px;
}

@media (min-width: 320px) { 
     .Strength_AlumDoubleBolLine_Our{
        max-width:180px;
        height:50px;
        position:absolute;
        top:-25px;
        right:0px;
    }
    .Double_bol_lineCollaSlider{
        position: absolute;
    top:-25px;
    max-width: 180px;
    height: 50px;
    right:0px;
    }
    .LeftarwCollaSlider{
        position: absolute;
        max-width: 200px;
        width: 100%;
        height: 30px;
        top: 40px;
        left: 0px;
    }
    .Our_Strength_Alumcards{
        height:auto;
    }
    .Our_Strength_Alum{
        padding: 80px 15px;
    }
    .custom-button {
        width: 100%; 
    }
    .CollaSlider{
        padding: 80px 15px;
    }
    .Collapsible{
        padding: 80px 15px;
    }
}

@media (min-width: 576px) { 
    .Strength_AlumDoubleBolLine_Our{
        max-width:180px;
        height:50px;
        position:absolute;
        top:-25px;
        right:20px;
    }
    .Double_bol_lineCollaSlider{
        position: absolute;
    top:-25px;
    max-width: 180px;
    height: 50px;
    right:20px;
    }
    .LeftarwCollaSlider{
        position: absolute;
        max-width: 200px;
        width: 100%;
        height: 30px;
        top: 40px;
        left: 25px;
    }
    .Our_Strength_Alumcards{
        height:auto;
    }
    .Our_Strength_Alum{
        padding: 80px 20px;
    }
    .custom-button {
        width: 50%; 
    }
    .CollaSlider{
        padding: 80px 20px;
    }
    .Collapsible{
        padding: 80px 20px;
    }
}


@media (min-width: 768px) { 
    .Strength_AlumDoubleBolLine_Our{
        max-width:180px;
        height:50px;
        position:absolute;
        top:-25px;
        right:35px;
    }
    .Double_bol_lineCollaSlider{
        position: absolute;
    top:-25px;
    max-width: 180px;
    height: 50px;
    right:30px;
    }
    .LeftarwCollaSlider{
        position: absolute;
        max-width: 200px;
        width: 100%;
        height: 30px;
        top: 40px;
        left: 45px;
    }
    .Our_Strength_Alumcards{
        height:auto;
    }
    .Our_Strength_Alum{
        padding: 80px 30px;
    }
    .custom-button {
        width: 50%; 
    }
    .CollaSlider{
        padding: 80px 30px;
    }
    .Collapsible{
        padding: 80px 30px;
    }
 }


@media (min-width: 992px) { 
    .Strength_AlumDoubleBolLine_Our{
        max-width:180px;
        height:50px;
        position:absolute;
        top:-25px;
        right:55px;
    }
    .Double_bol_lineCollaSlider{
        position: absolute;
    top:-25px;
    max-width: 180px;
    height: 50px;
    right:40px;
    }
    .LeftarwCollaSlider{
        position: absolute;
        max-width: 200px;
        width: 100%;
        height: 30px;
        top: 40px;
        left: 60px;
    }
    .Our_Strength_Alum{
        padding: 80px 40px;
    }
    .custom-button {
        width: 100%;  
    }
    .CollaSlider{
        padding: 80px 40px;
    }
    .Collapsible{
        padding: 80px 40px;
    }
 }


@media (min-width: 1200px) { 
    .Our_Strength_Alumcards{
        height:250px;
    }
    .Our_Strength_Alum{
        padding: 80px 50px;
    }
    .CollaSlider{
        padding: 80px 50px;
    }
    .Collapsible{
        padding: 80px 50px;
    }
    .LeftarwCollaSlider{
        position: absolute;
        max-width: 200px;
        width: 100%;
        height: 30px;
        top: 40px;
        left: 70px;
    }
    .Double_bol_lineCollaSlider{
        position: absolute;
    top:-25px;
    max-width: 180px;
    height: 50px;
    right:45px;
    }
    .Strength_AlumDoubleBolLine_Our{
        max-width:180px;
        height:50px;
        position:absolute;
        top:-25px;
        right:75px;
    }
 }


@media (min-width: 1400px) { 

 }