.error-page {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Light background for better contrast */
    padding: 20px;
    text-align: center;
}

.error-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    animation: bounce 5s infinite; /* Add a subtle bounce animation */
}

.error-title {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 10px;
}

.error-message {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #d5b86e;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); 
    }
}

/* Responsive Design */
@media (max-width: 576px) {
    .error-title {
        font-size: 2rem;
    }
    .error-message {
        font-size: 0.9rem;
    }
    .btn-primary {
        font-size: 0.9rem;
    }
}
