@font-face {
    font-family: 'Productns';
    src: url('../fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}Sa


html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
}
.home-photo{
    margin-top:10px;
}
/* navbar */
.navbar-brand img{
    height:50px;
    width: 200px;
}
.SonaTxtColor{
    color:#d4b76e;
}